* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


a {
  text-decoration: none;
  color: inherit;
}


/* create global variable with :root selector Start*/
:root {
  --header-bg-color: rgb(255, 255, 255);
  --footer-bg-color: rgb(255, 255, 255);
  --body-bg-color: #e3e3e3;
  --input-bg: #f2f2f2;
  --input-bg-focus: #dbdbdb;
  --text-color: #000;
  --light-text-color: #545454;
  --light-text-title: #353535;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-orange: #ffaf60;
  --dark-orange: #c26100;
  --x-dark-orange: rgb(157, 42, 1);
  --light-red: rgb(236, 56, 56);
  --white: #fff;
  --light-white-text: #eaeaea;
  --light-black: rgb(23, 23, 23);
  --light-blue: #0463ac;
  --dark-blue: #070062;
}


  /*header */
.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px black solid;
}

.nav-items > ul {
    list-style: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}

.logo {
    width: 100px;
}


/* Body */
.restaurant-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 200px;
    border: 1px solid black;
    padding: 10px ;
    margin: 10px;
}
.card > img {
    width: 100%;
}



/*shimmer css */

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
    flex-basis: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
  }

  .shimmer-title {
    width: 60%;
    margin-top: 10px;
  }
  .shimmer-tags {
    width: 80%;
    margin-top: 4px;
  }
  .shimmer-details {
    width: 100%;
    margin-top: 18px;
  }
  .shimmer-container .shimmer-img {
    height: 144px;
    width: 230px;
}

/*Animation to Shimmer Component Cards */
.stroke {
    height: 15px;
    background: #777;
  }
  .animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
}


.restaurant-menu {
  display: flex;
  margin-top: 80px;
  min-height: 80vh;
  width: auto;
}

.restaurant-summary {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--light-black);
  color: var(--white);
}

.restaurant-img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}

.restaurant-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  max-width: 340px;
}







/* About us page css */

.about-profile-container {
  margin: 100px, auto, 0px;
  text-align: center;
}

.about-profile-container-btn {
  background-color: var(--orange);
  color: var(--light-white-text);
}


.about-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 

}